html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
* {
  box-sizing: border-box;
}

body {
  background: #eae8fe;
  font-family: "Noto Sans KR", sans-serif;
}
.machine,
.machine-r {
  width: 360px;
}

.main {
  display: flex;
  justify-content: center;
  padding-top: 247px;
}
.logo {
  position: absolute;
  top: 0;
  width: 386px;
  background-repeat: no-repeat;
  background-size: cover;
}
.machine {
  height: 545px;
  padding: 28px 24px;
  background: #ffffff;
}
ol,
ul {
  list-style: none;
}
.cola-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}
.machine .cola-list li {
  position: relative;/
}
.machine .cola {
  width: 94px;
  border: none;
  background-color: white;
  height: 130px;
  border-radius: 10px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}
.cola-img-m {
  display: block;
  margin: 0 auto;
  width: 36px;
}
button {
  width: 100%;
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
}
.cola-type {
  display: block;
  margin-top: 6px;
  margin-bottom: 7px;
  font-size: 9px;
  color: #333333;
}
.cola-price {
  background: #6327fe;
  border-radius: 50px;
  color: white;
  left: 13px;
  top: 99px;
  font-size: 12px;
  padding: 5px 16px 5px 15px;
}

.bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 11px 23px;
  margin-top: 20px;
}
.bottom button {
  width: 94px;
  padding: 6px 9px 8px;
  border-radius: 5px;
  font-size: 13px;
  border: none;
  line-height: 19px;
}
.balance-box,
.put-place,
.get-staged {
  grid-column: 1/3;
}
.balance-box {
  line-height: 20px;
  border-radius: 5px;
  padding: 6px 10px 7px 10px;
  font-size: 14px;
  background-color: #eae8fe;
}
.balance-txt {
  float: right;
}
.balance-txt,
.btn-put {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  font-size: 13px;
}
.btn-return {
  height: 32px;
  background: #ffffff;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.5));
}
.put-place {
  grid-column: 1/3;
  width: 200px;
  padding: 6px;
  border: 1px solid #bdbdbd;
  color: #bdbdbd;
  font-size: 13px;
  line-height: 19px;
}

.get-staged {
  grid-columnn: 1/3;
  height: 106px;
  padding: 12px;
  overflow-y: scroll;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  background-color: #eae8fe;
}

.get {
  width: 170px;
  padding: 8px;
  border-radius: 5px;
  filter: none;
}

.btn-get {
  width: 94px;
  height: 106px;
  color: white;
  background: #6327fe;
}
.money-box, 
.get-list{
  background-color: white;
}
.machine-r .money_box{
  margin-bottom: 20px;
  padding: 9px 27px;
  border-radius: 4px;
}
.money-info{  
  background-color: #eae8fe;
  padding: 6px 10px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 20px;
}
.money{
  float:right;
}
.price-cola-list{
  margin-bottom:5px;
}

.get-list{
  padding: 25px 27px 32px; 
}
.get-txt{
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 13px;
}
